.filter {
    border: 1px solid #4f4f4f;
    border-radius: 6px;
    display: flex;
    overflow: hidden;
}

.filter__item {
    border-right: 1px solid #4f4f4f;
    color: #4a4a4a;
    cursor: pointer;
    padding: 6px 12px;
    text-transform: capitalize;
}

.filter__item:last-child {
    border-right: none
}

.filter__item_active {
    background-color: steelblue;
    color: #000;
    font-weight: 600;
}